#about {
    background-color: #141414;
    color: white;
    padding: 25px;
  }
  #about h1 {
    font-size: 1.5rem;
  }
  #about > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #about > div > div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 40vw;  
    border-radius: 10px;
    & p {
      padding: 10px;
      font-size: small;
      text-align: justify;
    }
  }
  
  
  @media (max-width:620px) {
      #about > div > div {
          width: 90vw;
      } 
       p{
          width: 90vh;
      }
  }