@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Sevillana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
body {
  height: auto;
}
a {
  text-decoration: none;
  color: white;
}
.yello-text {
  color: #ffae01;
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Sevillana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
body {
  height: auto;
}
a {
  text-decoration: none;
  color: white;
}
.yello-text {
  color: #ffae01;
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Sevillana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
body {
  height: auto;
}
a {
  text-decoration: none;
  color: white;
}
.yello-text {
  color: #ffae01;
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Sevillana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
body {
  height: auto;
}
a {
  text-decoration: none;
  color: white;
}
.yello-text {
  color: #ffae01;
}

